@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");

.App {
  padding: 1rem;
  font-family: "Montserrat", sans-serif;
}

h1 {
  text-align: center;
}

.cards {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

.dark-mode {
  background-color: #333;
}

.toggle-container {
  position: fixed;
  top: 10px;
  right: 10px;
}

.toggle-button {
  background-color: #2196f3;
  color: #fff;
  padding: 10px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.dark-mode-label {
  color: #fff;
}
